################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BackManager.WebApi/v16/Server/sqlite3/db.lock
/.vs/BackManager.WebApi/v16
/.vs/BackManager.WebApi/config/applicationhost.config
/BackManager.Application/obj
/BackManager.Common.DtoModel/obj
/BackManager.Domain/obj
/BackManager.Infrastructure/obj
/BackManager.Utility/obj
/BackManager.WebApi/obj
/Microsoft.Extensions.Caching.Redis/obj